node_modules/
build/
dist/
coverage/
.DS_Store
Thumbs.db
*.log
.env*
!.env.example
dev-dist/
android/build/
android/*.keystore
android/*.jks

# IDE & Editor files
.idea/
.vscode/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
